.env

**/.vscode
**/.venv
**/__pycache__

.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

workspace/db
workspace/logs

metabase/metabase.db
!metabase/metabase.db/metabase.db.mv.db